@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');

:root {
  --main-color: #363a37;
  --second-color: #9aa777;
  --content-gap: 10px;
  --black:#272827;
  --accent:#bc40ea;
}

* {
  transition: all 0.2s;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  flex-direction: column;
  display: flex;
  -moz-user-select: none;
  user-select: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  text-align: center;
  min-width: 400px;
  width: auto;
  height: 100vh;
  font-size: medium;
  background-color:var(--black);
  color: var(--second-color);
}

header{
  width: 100%;
  background: var(--black);
  padding: var(--content-gap);
  font-weight: 700;
}

main{
  background-color:var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer {
  border-bottom:2px solid var(--second-color);
  width: 100%;
  display: flex;
  background-color:var(--black);
  justify-content: center;

}

footer a {
  color: var(--accent);
  text-decoration: none;
}

footer a:hover{
  filter: brightness(0.8);
}

footer p {
  padding: var(--content-gap);
  text-align: left;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  width: 100%;
  padding: var(--content-gap);
  border-bottom: solid 2px #ff000000;
  cursor: pointer;
  text-align: left;
  gap: var(--content-gap);
  display: flex;
}

label:hover {
  filter: brightness(0.8);
  background-color:var(--main-color);
}

label:hover input {
  filter: brightness(2);
}

label:hover input:checked {
    filter: brightness(0.8);
}

input{
  cursor: pointer;
}

.range input{
  width: 50%;
}

.checkbox{
  appearance: none;
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border: 2px solid var(--black);
  background:var(--black);
  border-radius: 25%;
  transition: all 0.3s ease-in-out;
}

.checkbox:checked::before {
  display: block;
  border-radius: 25%;
  cursor: pointer;
  margin-left: 2px;
  margin-top: -3px;
  content: "✔";
  color:white;
  font-size: 18px;
  z-index: 1;
  animation-name: change-opacity;
  animation-duration: 1s;

}

.videoSpeedLabel{
  display:flex;
  flex-direction: column;
}

.radio {
  appearance: none;
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border: 2px solid var(--black);
  background: var(--black);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.radio:checked::before {
  display: block;
  border-radius: 50%;
  cursor: pointer;
  margin: 4px auto 5px auto;
  content: "";
  z-index: 1;
  width: 10px;
  height: 10px;
  background: white;
  animation-name: change-opacity;
  animation-duration: 1s;
}

.checkbox:checked,
.radio:checked {
  border-color: var(--second-color);
  background-color:var(--second-color);
}

@keyframes change-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}