@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap");

.extension-overlay-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 9999;
  display: flex;
}

.extension-overlay-div button:hover {
  filter: brightness(0.8);
}

.extension-overlay-div button {
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
}

.extension-overlay-button {
  cursor: pointer;
  border: none;
  padding: 0;
  color: white;
  background-color: #485f4880;
  width: 60%;
  height: 100%;
}

.extension-overlay-exit-button {
  cursor: pointer;
  border: none;
  padding: 0;
  color: white;
  width: 40%;
  height: 100%;
  background-color: #9d363680;
}

.vjs-control.speed {
  width: auto !important;
  display: flex;
  align-items: center;
}

.vjs-control.vjs-button {
  cursor: pointer;
  padding: 5px 10px;
}

.speed-range {
  visibility: hidden;
  opacity: 0;
  max-width: 0;
  box-sizing: border-box;
  overflow: hidden;
  transition: opacity 0.5s, visibility 0.5s, max-width 0.5s ease-in-out;
  white-space: nowrap;
}


.vjs-control.speed:hover .speed-range,
.speed-range:hover {
  visibility: visible;
  opacity: 1;
  max-width: 100px;
}

.kino-mode-icon {
  border: 2.5px solid #fff;
}

.vjs-kino-toggle {
  position: relative;
  height: 100%;
  width: auto;
  background: transparent;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vjs-kino-toggle::before,
.vjs-kino-toggle::after {
  content: "";
  position: absolute;
  background-color: white;
  /* Цвет иконки */
  transition: transform 0.3s ease;
}

/* Горизонтальная часть иконки фуллскрина */
.vjs-kino-toggle::before {
  height: 2px;
  width: 50%;
  /* ширина горизонтальной части */
  top: 50%;
  left: 25%;
  /* центрирование */
}

/* Вертикальная часть иконки фуллскрина */
.vjs-kino-toggle::after {
  width: 2px;
  height: 50%;
  /* высота вертикальной части */
  left: 50%;
  top: 25%;
  /* центрирование */
}

/* Стили для наведения - поворот иконки для имитации выхода из полноэкранного режима */
.vjs-kino-toggle:hover::before {
  transform: rotate(90deg);
}

.vjs-kino-toggle:hover::after {
  transform: rotate(180deg);
}


@media (hover: none) {

  .vjs-control.speed:hover .speed-range,
  .speed-range:hover {
    visibility: hidden;
    opacity: 0;
    max-width: 0;
    pointer-events: none;
  }
}